<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<title>Arindam Sharma</title>
</head>
<title>
	Airndam Sharma
</title>
<body style="background-color: lightgreen;">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/index.html">
		  <img src="../static/img/logo.png" width="30" height="30" alt="">FSDFD
		</a>
	  </nav>
</body>
</html>